
/* Profile Start */
#profile{
  margin-bottom: 10px;
}

#profile .wrapper{
  margin: 0%;
  position: relative;
}

#profile .wrapper .bg-photo{
  display: block;
  width: 100%;
  height: 10%;
  object-fit: cover;
  background-color: black;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

#profile .gradient{
  position: absolute;
  width: 100%;
  height: 50%;
  bottom:0;
  left: 0;
  z-index: 2;
}

.bg-text{
  font-size: 100px;
  color:white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  text-shadow: 0 0 3px green;
}

.bg-text2{
  font-size: 100px;
  color:  rgb(7, 64, 4);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bg-text3{
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-style: italic;
}

/* Profile End */

/* Tagline Start */
#tagline .wrapper{
  text-align: center;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
}
/* Tagline End */

/* Content Start */
#content .deskripsi{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px;
}

#content .deskripsi .images{
  border-radius: 10px;
  width: 25%;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-mask:url(https://i.ibb.co/mBrmH0k/Mf15d.png) center/contain no-repeat;
}


#content.deskripsi .detail{
  width: 50%;
  text-align: center;
}
/* Content End */

/* Package Start */

#package .container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

#package .wrapper{
  display: flex;
  gap: 10px;
  justify-content: center;
}

#package .wrapper .kolom{
  width: 33.333%;
  margin: 15px;
}

#package .photo{
  display: block;
  position: relative;
  width: 70%;
  top: 30%;
  left: 15%;
  
}

#package .card{
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 20px;
  gap: 5px;
  border: none;
  box-shadow: 0px 2px 5px 2px #B2B2B2;
  
}

#package .package-title{
  text-align: center;

}

#package .border{
  margin-left: 35%;
  width: 30%;
}

#package .title{
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  
}

#package h3{
  margin-bottom: 10px;
  min-height: 100px;
}

#package .deskripsi{
  text-align: center;
  font-style: normal;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 50px;
}

#package .btn{
  background-color: #334e3b;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px #87a878;
  margin-bottom: 10px;
}

#package .see-more:hover{
  opacity: 50%;
}
/* Package End */

/* Reservation Start */
#reservation .wrapper{
  margin-top: 15px ;
  text-align: center;
}

#reservation .btn{
  padding: 20px;
  color: white;
  background-color: #334e3b;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#reservation .btn:hover{
  color: black;
  background-color: #87a878;
}
/* Reservation End */

/* Contact Start */
#contact .text{
  font-size: 100%;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  border: 3px solid #f1f1f1;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20%;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

#contact .media{
  display: flex;
}

#contact .medsos{
  padding-top: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

.medsos img{
  width: 3vmax;
}
/* Contact End */

/* reservasi start*/
.reserve{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  padding: 50px 55px;
  width: 300px;
  border: 2px solid #87a878;
  border-radius: 15px;  
  background-image: linear-gradient(to top, #eff4f5, #e57f84);
}

.reserve h1{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #304910;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reserve label{
 text-align: left;
 color: #100f0f; 
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reserve form input select{
  width:max-content;
  border: none;
  padding: 8px 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border-bottom: 5px solid #000;
  color: rgb(255, 255, 255);
}

.reserve form button{
  width: 100px;
  height: 30px;
  margin-top: 20px;
  padding: 5px;
  border: none;
  background-color: #aae0ba;
  font-size: 10px;
  border-radius: 6px;
}

.reserv-btn .wrapper{
  margin: 10px;
  display: flex;
  gap: 50px;
}

.reserv-btn .back{
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #334e3b;
  border: none;
  border-radius: 5px;
}

.reserv-btn .back:hover{
  background-color: #87a878;
}

.reserv-btn .book{
  margin: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #334e3b;
  border: none;
  border-radius: 5px;
}

.reserv-btn .book:hover{
  background-color: #87a878;
}

body{
  height: 100vh;
  background-image:url(/assets/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
/* reservasi end */